body{
   background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .main-page-container {
    display: flex;
    flex-direction: column;
    height: 100px; /* Make container take full viewport height */
  }
  
  .logo {
    position: absolute; /* Position the image absolutely */
    top: 3%; /* Top edge to 0 */
    left: 3%; /* Left edge to 0 */
    height: 150px; /* Set the height you want */
  }